/* @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

::-webkit-scrollbar { /* make scrollbar transparent */
    width: 0px;
    background: transparent;
}

* {
    /* font-family: 'Anuphan', sans-serif; */
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: #F0F3F4;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bdcard {
    border: 2px solid #36b874;
    border-radius: 5px;
}