@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300&display=swap'); */

::-webkit-scrollbar { /* make scrollbar transparent */
    width: 0px;
    background: transparent;
}
 * {
    font-family: 'Anuphan', sans-serif;
}

body {
    background: rgb(253,249,220);
    background: linear-gradient(90deg, rgba(253,249,220,1) 0%, rgba(240,162,163,1) 100%);
    /* background: rgb(253,249,220);
    background: radial-gradient(circle, rgba(253,249,220,1) 0%, rgba(240,162,163,1) 100%); */
}