@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

::-webkit-scrollbar { /* make scrollbar transparent */
    width: 0px;
    background: transparent;
}

* {
  /* margin: 0;
  padding: 0; 
  box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
}
.firstsection {
    /* background-color: #000; */
    height: 100%;
}
.secondsection {
    background-color: #000;
    height: 100%;
}

/* First Section========================================================================= */
.showcase {
  
  right: 0;
  width: 100%;
  min-height: 97vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
  right: 300px;
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.showcase img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #03a9f4; */
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
  margin-top: 300px;
}
.textmb {
  position: relative;
  z-index: 10;
  margin-top: 300px;
}
.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.textmb h2 {
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.textmb h3 {
  font-size: 1.4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
/* .text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
} */
.text a {
  display: inline-block;
  font-size: 4em;
  /* background: #fff; */
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.textmb a {
  display: inline-block;
  font-size: 2em;
  /* background: #fff; */
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}
.textmb a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  z-index: 10;
  /* bottom: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialmb {
  position: absolute;
  z-index: 10;
  /* bottom: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
  margin-left: -35px;
}
.socialmb li {
  list-style: none;
  /* width: 70px; */
  margin-left: -35px;
  margin-top: -20px;
}
.social li a {
  display: inline-block;
  /* margin-right: 20px; */
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.socialmb li a {
  display: inline-block;
  /* margin-right: 20px; */
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
.socialmb li a:hover {
  transform: scale(0.5) translateY(-15px);
}
@media (max-width: 991px) {
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
/* ====================================================================================== */

/* blockquote=================================================================== */
hr {
  margin: 3em 0;
  border: none;
  border-top: solid 1px #ccc;
  width: 80%;
}

.twitter-timeline {
  color: #fff;
  font-size: 24px;
}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}
 
blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}
 
blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: yellow;
  font-size: 18px;
}
/* ====================================================================================== */

.chamily_social .fab {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}

.chamily_social .fab:hover {
  opacity: 0.7;
}

.chamily_social .fa-facebook {
  background: #3B5998;
  color: white;
}

.chamily_social .fa-twitter {
  background: #55ACEE;
  color: white;
}

.chamily_social .fa-tiktok {
  background: #000;
  color: white;
}

.chamily_social .fa-google {
  background: #dd4b39;
  color: white;
}

.chamily_social .fa-youtube {
  background: #bb0000;
  color: white;
}

.chamily_social .fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: white;
}